@import 'reset';
@import 'variables/global';
@import 'themes/normal';
@import 'themes/dark';
@import 'themes/orange';
.App {
  font: var(--font-m);
  color: var(--text);
  background: var(--bg);
  min-height: 100vh;
}
