@import '/src/app/styles/variables/global.scss';
.Modal {
  @include ModalAndOverlay;
  opacity: 0;
  pointer-events: none;

  &.open {
    pointer-events: auto;
    opacity: 1;
    .content {
      transform: scale(1);
    }
  }
  &.closing .content {
    transform: scale(0.6);
  }

  .content {
    transition: 0.3s transform ease-in-out;
    z-index: var(--modal-z-index);
  }
}
