.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  cursor: pointer;
  color: var(--text);
  transition: all 0.2s ease-in-out;

  &.disabled {
    opacity: 0.5;
  }
  &.fullWidth {
    width: 100%;
  }
  &.withAddon {
    padding: 0 16px;
  }

  &.clear {
    padding: 0;
  }
  &.outline {
    border-radius: 40px;
    border: 2px solid var(--icon);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    &:hover {
      border-color: var(--accent);
      color: var(--accent);
    }
  }
  &.filled {
    background: var(--bg);
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    &:hover {
      background: var(--light-bg);
    }
  }

  &.m {
    font: var(--font-m);
  }
  &.l {
    font: var(--font-l);
  }
  &.xl {
    font: var(--font-xl);
  }

  &.success:hover {
    background: var(--save);
  }
  &.error:hover {
    background: var(--cancel);
  }

  .addOnLeft,
  .addOnRight {
    display: flex;
  }
  .addOnLeft svg,
  .addOnRight svg {
    color: var(--hint);
  }

  &:hover {
    .addOnLeft svg,
    .addOnRight svg {
      color: var(--accent);
    }
  }
}
