.Item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 16px;
  gap: 4px;
  .link {
    transition: all 1s ease-in-out;
  }

  &.collapsed {
    padding: 0 8px;
    .link {
      transition: none;
      opacity: 0;
      width: 0;
      margin: 0;
    }
  }
}

.active,
.Item:hover {
  background: linear-gradient(
    90deg,
    rgba(var(--icon-r), var(--icon-g), var(--icon-b), 0.3) 1.15%,
    rgba(var(--icon-r), var(--icon-g), var(--icon-b), 0) 100%
  );
}
