.BIG {
  .textBlock {
    max-height: 72px;
    overflow: hidden;
  }
}
.SMALL {
  .card {
    position: relative;
    width: 250px;
    height: 350px;
    overflow: hidden;
  }
  .title {
    max-height: 72px;
    overflow: hidden;
  }
  .textWrapper {
    position: absolute;
    bottom: 12px;
  }
  .img {
    object-fit: cover;
  }
}
