.InputWrapper {
  display: flex;
  align-items: center;
  border-radius: 48px;
  padding: 8px 16px;
  border: 2px solid var(--icon);
  width: 100%;

  &__input {
    border: none;
    outline: none;
    width: 100%;
    color: var(--text);
    background: none;

    &::placeholder {
      color: var(--hint);
    }
  }

  &__addOnLeft,
  &__addOnRight {
    display: flex;
  }
}

.s {
  height: 32px;
}
.m {
  height: 38px;
}
.l {
  gap: 44px;
}

.withAddonLeft {
  padding-left: 8px;
}
.withAddonRight {
  padding-right: 8px;
}

.focused {
  border: 2px solid var(--accent);
  .InputWrapper__addOnLeft svg,
  .InputWrapper__addOnRight svg {
    color: var(--accent);
  }
}
.readonly {
  opacity: 0.7;
}
