.InputWrapper {
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 8px 16px;
  border: 2px solid var(--icon);
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

  .addOnLeft,
  .addOnRight {
    display: flex;
  }
  .input {
    width: 100%;
    color: var(--text);
    &::placeholder {
      color: var(--hint);
    }
  }

  &.s {
    height: 32px;
  }
  &.m {
    height: 38px;
  }
  &.l {
    height: 44px;
  }

  &.withAddonLeft {
    padding-left: 8px;
  }
  &.withAddonRight {
    padding-right: 8px;
  }

  &.focused {
    border: 2px solid var(--accent);
    .addOnLeft svg,
    .addOnRight svg {
      color: var(--accent);
    }
  }
  &.readonly {
    opacity: 0.5;
    border: 2px solid var(--cancel);
  }
}
