.Sticky {
  display: grid;
  grid-template-areas: 'content right';
  grid-template-columns: 1fr max-content;
  gap: 16px;
  &__content {
    grid-area: content;
  }
  &__right {
    grid-area: right;
    position: sticky;
    top: 32px;
    height: fit-content;
  }
}
