@import '/src/app/styles/variables/global.scss';

.sheet {
  z-index: var(--modal-z-index);
  position: fixed;
  left: 2vw;
  right: 2vw;
  height: calc(100vh + 100px);
  width: 96vw;
  border-radius: 12px 12px 0;
  touch-action: none;
  padding: 15px;
  background: var(--light-bg);
}
