.app_dark_theme {
  --dark-bg: #22211f;
  --bg: #090601;
  --light-bg: #363333;
  --text: #dbdbdb;
  --hint: #555555;
  --cancel: #d95757;
  --save: #6cd98b;
  --icon: #d6bd98;
  // --accent: #8c8070;
  --accent: #ece1d1;

  --icon-r: 214;
  --icon-g: 189;
  --icon-b: 152;
}
