:root {
  --dark-bg: #ece8dd;
  --bg: #f8f4ea;
  --light-bg: #e1d7c6;
  --text: #141c1f;
  --hint: #adbcc0;
  --cancel: #ff7777;
  --save: #62de85;
  --icon: #579bb1;
  --accent: #5767b1;

  --icon-r: 87;
  --icon-g: 155;
  --icon-b: 177;
}
