:root {
  --dark-bg: #ffffff;
  --bg: #eff5f6;
  --light-bg: #e2eef1;
  --text: #141c1f;
  --hint: #adbcc0;
  --cancel: #ff7777;
  --save: #62de85;
  --icon: #5ed3f3;
  --accent: #00c8ff;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
  // code
  --code-bg: #fff;
  // card
  --card-bg: #d5d5d7;
  // listbox
  --listbox-bg: #d5d5d7;
}
