.Main {
  min-height: 100vh;
  display: grid;
  grid-template-areas: 'sidebar content rightbar';
  grid-template-columns: min-content 1fr 120px;

  &__content {
    grid-area: content;
    max-width: 1200px;
    justify-self: center;
    padding: 32px;
    width: 100%;
  }

  &__sidebar {
    grid-area: sidebar;
    padding: 32px;
    max-width: 284px;
  }

  &__rightbar {
    grid-area: rightbar;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .toolbar {
      height: 100%;
      width: 100%;
    }
  }
  &__sidebar,
  &__rightbar {
    position: sticky;
    top: 0;
    height: 100vh;
  }
}
