.Icon {
  color: var(--icon);
  transition: all 0.1s ease-in-out;
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;

  &:hover .Icon {
    color: var(--accent);
  }
}
