.tab {
  transition: padding 0.5s ease-in-out, background-color 0.15s;
  padding: 6px 10px !important;

  &.selected {
    padding: 6px 20px !important;
  }

  &:hover {
    background-color: var(--light-bg);
  }
}
