.cursor {
  cursor: pointer;
}

.max {
  width: 100%;
}

.normal {
  background: var(--dark-bg);
}
.light {
  background: var(--light-bg);
}
.outlined {
  border: 1px solid var(--accent);
}

.default {
  border-radius: 12px;
}
.partial {
  border-radius: 20px;
}
.round {
  border-radius: 40px;
}

.padding_0 {
  padding: 0;
}
.padding_8 {
  padding: 8px;
}
.padding_16 {
  padding: 16px;
}
.padding_24 {
  padding: 24px;
}

.column_gap_8 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.column_gap_16 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.column_gap_32 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.row_gap_8 {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.row_gap_16 {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.row_gap_32 {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
