.Card {
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

  &.maxWidth {
    width: 100%;
  }
  &.cursor {
    cursor: pointer;
  }
  &.headersStyle {
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    align-items: center;
  }
  &.noShadow {
    box-shadow: none;
  }

  &.normal {
    background: var(--dark-bg);
  }
  &.light {
    background: var(--light-bg);
  }
  &.outlined {
    border: 1px solid var(--hint);
  }
  &.transparent {
    background: transparent;
  }

  &.padding_0 {
    padding: 0;
  }
  &.padding_8 {
    padding: 8px;
  }
  &.padding_16 {
    padding: 16px;
  }
  &.padding_24 {
    padding: 24px;
  }

  &.default {
    border-radius: 12px;
  }
  &.partial {
    border-radius: 20px;
  }
  &.round {
    border-radius: 40px;
  }

  &.flexColumn {
    display: flex;
    flex-direction: column;
  }
  &.flexRow {
    display: flex;
    flex-direction: row;
  }

  &.gap_0 {
    gap: 0;
  }
  &.gap_4 {
    gap: 4px;
  }
  &.gap_8 {
    gap: 8px;
  }
  &.gap_16 {
    gap: 16px;
  }
  &.gap_24 {
    gap: 24px;
  }
  &.gap_32 {
    gap: 32px;
  }
}
